DB_USERNAME=postgres_user
DB_PASSWORD=postgres_pass
DB_HOST=127.0.0.1
DB_PORT=5445
DB_NAME=fastapi_project_db
DB_TEST_NAME=fastapi_project_test_db
JWT_SECRET_KEY=a72f091985efba310499d6f1187ef19183fa9ce68e4f7ac01230c9825b5ef53c
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30